<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Focus Admin: JS Grid Table</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link href="/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/lib/helper.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body onload="getCurrentUser()">

<!-- SideBar -->
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a href="#"><!-- <img src="assets/images/logo.png" alt="" /> --><span>Admin Catalog</span></a></div>
            <ul>

                <li><a href="/admin/managers/list"><i class="ti-angle-right"></i> Managers </a></li>
                <li><a href="/admin/subGovernances/list"><i class="ti-angle-right"></i> Sub Governances</a></li>
                <li><a href="/admin/contests/list"><i class="ti-angle-right"></i> Contests</a></li>
                <li><a href="/admin/submissions/list"><i class="ti-angle-right"></i>Submissions</a></li>
                <li><a href="/admin/authors/list"><i class="ti-angle-right"></i> Authors</a></li>
                <li><a href="/logout"><i class="ti-close"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- SideBar End -->


<!-- Header -->

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="float-right">
                    <div class="dropdown dib">
                        <div class="header-icon" data-toggle="dropdown">
                            <span class="user-avatar" id="currentUser"></span>
                            <i class="ti-angle-down f-s-10"></i>
                            <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="/logout">
                                                <i class="ti-power-off"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header End-->


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1></h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Submission</a></li>
                                <li class="breadcrumb-item active">Edit</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Edit Submission</h4>
                            </div>
                            <div class="card-body">
                                <div class="horizontal-form-elements">
                                    <form class="form-horizontal" action="/admin/submissions/edit" method="POST">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <input type="hidden" id="id" name="id" th:value="${submission.id}" />
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Number</label>
                                                    <div class="col-sm-10">
                                                        <input  type="text"
                                                                autofocus name="number" th:value="${submission.number}" class="form-control input-rounded" id="number">
                                                    </div>
                                                </div>
                                                <!--<div class="form-group">
                                                    <label class="col-sm-3 control-label">Description</label>
                                                    <div class="col-sm-10">
                                                        <textarea class="form-control" rows="10" placeholder="Description" th:text="${submission.description}" id="description" name="description"></textarea>
                                                    </div>
                                                </div>-->
                                                <div class="form-group">
                                                    <label class="col-sm-10 control-label">Small Description</label>
                                                    <div class="col-sm-10">
                                                        <div id="editorsmall" th:utext="${submission.smallDescription}">
                                                        </div>
                                                        <textarea th:utext="${submission.smallDescription}" style="display:none" class="form-control" rows="10" placeholder="Description" id="smallDescription" name="smallDescription"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-10 control-label">Big Description</label>
                                                    <div class="col-sm-10">
                                                        <div id="editorbig" th:utext="${submission.bigDescription}">
                                                        </div>
                                                        <textarea th:utext="${submission.bigDescription}" style="display:none" class="form-control" rows="10" placeholder="Description" id="bigDescription" name="bigDescription"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Rate</label>
                                                    <div class="col-sm-10">
                                                        <input  type="text"
                                                                autofocus name="rate" class="form-control input-rounded" id="rate" th:value="${submission.rate}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Place</label>
                                                    <div class="col-sm-10">
                                                        <input  type="text"
                                                                autofocus name="place" class="form-control input-rounded" id="place" th:value="${submission.place}">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Prize</label>
                                                    <div class="col-sm-10">
                                                        <input  type="text"
                                                                autofocus name="prize" class="form-control input-rounded" id="prize" th:value="${submission.prize}">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Statistics Link</label>
                                                    <div class="col-sm-10">
                                                        <input  type="text"
                                                                autofocus name="statisticsLink" class="form-control input-rounded" id="statisticsLink" th:value="${submission.statisticsLink}">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Contest</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" id="contest" name="contest.id">
                                                            <option th:each="contest : ${contests}" th:value="${contest.id}" th:text="${contest.name}" th:selected="${submission.contest.id eq contest.id}"></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Author</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" id="author-select" name="author.id" >
                                                            <span th:each="author : ${authors}">
                                                                <span  th:each="address : ${author.freeTonAddresses}">
                                                                    <option class="author-option" th:id="'authorAddress_' + ${address}"  th:value="${author.id}" th:text="${author.freetonForumNickname} + '->' + ${address}" th:selected="${submission.author.id+submission.authorFreeTonAddress eq author.id + address}"></option>
                                                                </span>
                                                            </span>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">Address</label>
                                                    <div class="col-sm-10">
                                                        <input  type="text" readonly
                                                                name="authorFreeTonAddress" class="form-control input-rounded" th:value="${submission.authorFreeTonAddress}" id="author.chosedFreeTonAddress">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" name="auth" class="btn btn-primary" onclick="beforeSave()">Edit Submission</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>






<!-- jquery vendor -->
<script src="/assets/js/lib/jquery.min.js"></script>
<script src="/assets/js/lib/jquery.nanoscroller.min.js"></script>
<!-- nano scroller -->
<script src="/assets/js/lib/menubar/sidebar.js"></script>
<script src="/assets/js/lib/preloader/pace.min.js"></script>
<!-- sidebar -->

<!-- bootstrap -->


<script src="/assets/js/lib/bootstrap.min.js"></script><script src="/assets/js/scripts.js"></script>
<!-- scripit init-->
<script src="/js/functions.js"></script>
<script src="/js/validateData.js"></script>

<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    var quillsmall = new Quill('#editorsmall', {
        theme: 'snow'
    });
    var quillbig = new Quill('#editorbig', {
        theme: 'snow'
    });
</script>

</body>

</html>