<!DOCTYPE html>
<html lang="Ru-ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>TONcatalog</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div class="wrapper"><header class="header">
  <div class="container">
    <div class="row-wrap header__wrap">
      <div class="row-left header__left">
        <a href="/" class="logo header-logo">
          <img src="/img/svg/toncatalog.club.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right header__right">
        <form action="/contest/search" method="get" class="search js-search">
          <input type="search" name="name" class="input search__input js-search-input" placeholder="Search by contest name..." autocomplete="off">
          <ul class="search__list js-search-list">
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</header>
      <main class="main"><div class="page">
  <div class="container">
    <nav class="breadcrumbs">
      <a href="/">All contests</a><img src="/img/svg/chevrone-right_grey.svg" alt=""><span th:text="${contest.subGovernance.name}"></span>
    </nav>
    <article class="article">
      <h1 th:text="${contest.name}"></h1>
      <section>
        <h2>Period</h2>
        <ul class="tablist">
          <li class="tablist__item">
            <div class="tablist__name">Submission period</div>
            <div class="tablist__txt" th:text="${contest.submissionFrom} + ' - ' + ${contest.submissionTo}"></div>
          </li>
          <li class="tablist__item">
            <div class="tablist__name">Judging period</div>
            <div class="tablist__txt" th:text="${contest.votingFrom} + ' - ' + ${contest.votingTo}"></div>
          </li>
        </ul>
      </section>
      <section>
        <h2>About</h2>
      <div th:utext="${contest.smallDescription}">

      </div>
      <div class="js-hided-part hided-part" th:utext="${contest.bigDescription}">
      </div>
      <button class="btn show-more js-show-mor">
        <span>Show more</span>
        <img src="/img/svg/chevrone-down_blue.svg" alt="">
      </button>
      </section>
    </article>
    <section class="portfolio">
      <h2 class="sec-title">Winners works</h2>
      <ul class="portfolio__list">
        <li class="portfolio-item" th:each="submission : ${contest.submissions}">
          <a th:href=@{/submission?(id=${submission.id})} class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img th:src="${submission.image}" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                <span th:text="${submission.linksCount}" th:remove="tag"></span>
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                <span th:text="${submission.filesCount}" th:remove="tag"></span>
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name" th:text="${submission.number}"></div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="" th:text="${submission.place} + ' place'">
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="" th:text="${submission.rate}">
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="" th:text="${submission.prize} + ' TONs'">
                </div>
              </div>
              <div class="portfolio-item__username" th:text="${submission.author.freetonForumNickname}"></div>
              <div class="portfolio-item__id" th:text="${submission.authorFreeTonAddress}"></div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>


      </main><footer class="footer">
  <div class="container">
    <div class="row-wrap footer__wrap">
      <div class="row-left footer__left">
        <a href="/" class="logo footer-logo">
          <img src="/img/svg/toncatalog.club.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right footer__right">
        <div class="donate"><span>Donate:</span> 0:1c8876f793bb43993f93f7db4dfe07d8777aaec0456c4edcbe8a6f007c7e7955</div>
      </div>
    </div>
  </div>
</footer>

    </div>
    <script src="/js/vendors.min.js"></script>
    <script src="/js/scripts.min.js"></script>
  </body>
</html>