<!DOCTYPE html>
<html lang="Ru-ru">
  <head>
    <meta charset="UTF-8"/>
    <title>TONcatalog</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div class="wrapper"><header class="header">
  <div class="container">
    <div class="row-wrap header__wrap">
      <div class="row-left header__left">
        <a href="/" class="logo header-logo">
          <img src="/img/svg/toncatalog.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right header__right">
        <form action="#" method="get" class="search js-search">
          <input type="search" name="search" class="input search__input js-search-input" placeholder="Search by contest name..." autocomplete="off">
          <ul class="search__list js-search-list">
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</header>
      <main class="main"><div class="page">
  <div class="container">
    <nav class="breadcrumbs">
      <a href="#">All contests</a><img src="/img/svg/chevrone-right_grey.svg" alt=""><span>Main Governance</span>
    </nav>
    <article class="article">
      <h1>#169 Contest: Dune->FreeTON Swap Implementation Stage 1 Proposal</h1>
      <section>
        <h2>Period</h2>
        <ul class="tablist">
          <li class="tablist__item">
            <div class="tablist__name">Submission period</div>
            <div class="tablist__txt">11 May 2021 at 00:00 UTC – 30 May 2021 at 23:59 UTC</div>
          </li>
          <li class="tablist__item">
            <div class="tablist__name">Judging period</div>
            <div class="tablist__txt">31 May 2021 at 00:00 UTC – 6 June 2021 at 23:59 UTC</div>
          </li>
        </ul>
      </section>
      <section>
        <h2>About</h2>
        <h3>Header</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3>Header</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </section>
      
      <div class="js-hided-part hided-part">
        <h3>Header</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3>Header</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <button class="btn show-more js-show-mor">
        <span>Show more</span>
        <img src="/img/svg/chevrone-down_blue.svg" alt="">
      </button>
    </article>
    <section class="portfolio">
      <h2 class="sec-title">Winners works</h2>
      <ul class="portfolio__list">
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
        <li class="portfolio-item">
          <a href="#" class="portfolio-item__wrap">
            <div class="portfolio-item__pic"><img src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt=""></div>
            <div class="portfolio-item__stats">
              <div class="portfolio-item__stat">
                <img src="/img/svg/link_black.svg" alt="">
                1
              </div>
              <div class="portfolio-item__stat">
                <img src="/img/svg/attach_black.svg" alt="">
                3
              </div>
            </div>
            <div class="portfolio-item__main">
              <div class="portfolio-item__name">Submission #888</div>
              <div class="inforow">
                <div class="infoitem">
                  <img src="/img/svg/cup_blue.svg" alt="">
                  1 place
                </div>
                <div class="infoitem">
                  <img src="/img/svg/star_blue.svg" alt="">
                  9.67
                </div>
                <div class="infoitem">
                  <img src="/img/svg/coin_blue.svg" alt="">
                  15,000 TONs
                </div>
              </div>
              <div class="portfolio-item__username">usernickname</div>
              <div class="portfolio-item__id">0:1b32...8e5c</div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>


      </main><footer class="footer">
  <div class="container">
    <div class="row-wrap footer__wrap">
      <div class="row-left footer__left">
        <a href="/" class="logo footer-logo">
          <img src="/img/svg/toncatalog.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right footer__right">
        <div class="donate"><span>Donate:</span> 0:1c8876f793bb43993f93f7db4dfe07d8777aaec0456c4edcbe8a6f007c7e7955</div>
      </div>
    </div>
  </div>
</footer>

    </div>
    <script src="/js/vendors.min.js"></script>
    <script src="/js/scripts.min.js"></script>
  </body>
</html>