<!DOCTYPE html>
<html lang="Ru-ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8"/>
    <title>TONcatalog</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div class="wrapper"><header class="header">
  <div class="container">
    <div class="row-wrap header__wrap">
      <div class="row-left header__left">
        <a href="/" class="logo header-logo">
          <img src="/img/svg/toncatalog.club.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right header__right">
        <form action="/contest/search" method="get" class="search js-search">
          <input type="search" name="name" class="input search__input js-search-input" placeholder="Search by contest name..." autocomplete="off">
          <ul class="search__list js-search-list">
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</header>
      <main class="main"><section class="hero">
  <div class="container">
    <h1 class="hero__title">Catalog of Free TON contests winners works</h1>
    <p class="hero__txt">Just start searching or using the filter below to get any contest work that you need.</p>
  </div>
</section>
<div class="catalog">
  <div class="container">
    <div class="catalog__wrap">
      <div class="loading-class">
      </div>
      <div class="catalog__bar">
        <form action="#" method="get" class="filter" id="filterForm">
          <fieldset class="filter__group">
            <legend class="filter__title">Sub-governance</legend>
            <div class="checkselect">
              <label th:each="subGov : ${subGovernances}">
                <input type="checkbox" name="subGovesIds" id="subGovesIds" th:value="${subGov.id}"><span th:text="${subGov.name}"></span>
              </label>
            </div>
          </fieldset>
          <fieldset class="filter__group">
            <legend class="filter__title">Prize fund, TON</legend>
            <div class="fromto">
              <input type="text" class="fromto__input js-fromto js-onlynumb" id="prizeFundFrom" name="prizeFundFrom" placeholder="From" th:value="${filterEnity?.prizeFundFrom}">
              <input type="text" class="fromto__input js-fromto js-onlynumb" id="prizeFundTo" name="prizeFundTo" placeholder="To" th:value="${filterEnity?.prizeFundTo}">
            </div>
          </fieldset>
          <fieldset class="filter__group">
            <legend class="filter__title">Number of winners</legend>
            <div class="fromto">
              <input type="text" class="fromto__input js-fromto js-onlynumb" id="winnersFrom" name="winnersFrom" placeholder="From">
              <input type="text" class="fromto__input js-fromto js-onlynumb" id="winnersTo" name="winnersTo" placeholder="To">
            </div>
          </fieldset>
          <input type="submit" style="display:none"/>
        </form>
      </div>
      <div class="catalog__main">
        <div class="catalog__header">
          <div class="catalog__header-counter" th:text="${#lists.size(contests)} + ' results'"></div>
          <div class="catalog__header-sort">
            <form action="#" method="get" class="sort">
              <div class="styled-select js-styled-select">
                <select name="categorys">
                  <option value="DESC">Newest</option>
                  <option value="ASC">Oldest</option>
                </select>
              </div>
            </form>
          </div>
        </div>
        <ul class="catalog__list">
          <li class="catalog-item" th:each="contest : ${contests}">
            <a th:href=@{/contest?(id=${contest.id})} class="catalog-item__wrap">
              <div class="catalog-item__name" th:text="${contest.name}"></div>
              <div class="catalog-item__sub" th:text="${contest.subGovernance.name}"></div>
              <div class="catalog-item__strong" th:text="${contest.winnersCount} + ' winners'"></div>
              <div class="catalog-item__sub" th:text="${contest.prizeFund} + ' TONs prize fund'"></div>
              <div class="catalog-item__interval" th:text="${contest.submissionFrom} + ' - ' + ${contest.submissionTo}"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
      </main><footer class="footer">
  <div class="container">
    <div class="row-wrap footer__wrap">
      <div class="row-left footer__left">
        <a href="/" class="logo footer-logo">
          <img src="/img/svg/toncatalog.club.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right footer__right">
        <div class="donate"><span>Donate:</span> 0:1c8876f793bb43993f93f7db4dfe07d8777aaec0456c4edcbe8a6f007c7e7955</div>
      </div>
    </div>
  </div>
</footer>

    </div>
    <script src="/js/vendors.min.js"></script>
    <script src="/js/scripts.min.js"></script>
    <script src="/js/functions.js"></script>
  </body>
</html>