<!DOCTYPE html>
<html lang="Ru-ru" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>TONcatalog</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div class="wrapper"><header class="header">
  <div class="container">
    <div class="row-wrap header__wrap">
      <div class="row-left header__left">
        <a href="/" class="logo header-logo">
          <img src="/img/svg/toncatalog.club.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right header__right">
        <form action="#" method="get" class="search js-search">
          <input type="search" name="search" class="input search__input js-search-input" placeholder="Search by contest name..." autocomplete="off">
          <ul class="search__list js-search-list">
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</header>
      <main class="main"><div class="page">
  <div class="container">
    <div class="submission">
      <div class="submission__main">
        <nav class="breadcrumbs">  
          <a href="/">All contests</a><img src="/img/svg/chevrone-right_grey.svg" alt=""><a href="#" th:text="${submission.contest.subGovernance.name}"></a><img src="img/svg/chevrone-right_grey.svg" alt=""><span th:text="${submission.contest.name}"></span>
        </nav>
        <article class="article">
          <h1 th:text="${submission.number}"></h1>
          <div class="inforow article__inforow">
            <div class="infoitem">
              <img src="/img/svg/cup_blue.svg" alt="" th:text="${submission.place} + ' place'">
            </div>
            <div class="infoitem">
              <img src="/img/svg/star_blue.svg" alt="" th:text="${submission.rate}">
            </div>
            <div class="infoitem">
              <img src="/img/svg/coin_blue.svg" alt="" th:text="${submission.prize} + ' TONs'">
            </div>
          </div>
          <img class="article__img" th:src="${submission.image}" alt="">
          <div th:utext="${submission.smallDescription}">
          </div>
          <div class="js-hided-part hided-part" th:utext="${submission.bigDescription}">
          </div>
          <button class="btn show-more js-show-mor">
            <span>Show more</span>
            <img src="/img/svg/chevrone-down_blue.svg" alt="">
          </button>
        </article>
        <section class="usernickname">
          <h2 class="usernickname__title" th:text="${submission.author.freetonForumNickname}"></h2>
          <p class="usernickname__name" th:text="${submission.authorFreeTonAddress}"></p>
        </section>
      </div>
      <section class="submission__bar">
        <h2 class="submission__bar-title">Links and attachments</h2>
        <div class="submission__bar-link" th:each="link : ${submission.links}">
          <div class="submission__bar-link-name" th:text="${link.name}"></div>
          <a th:href="${link.url}" th:text="${link.shortUrl}"></a>
        </div>
        <a th:href="${file.url}" class="submission__bar-download" download target="_blank" th:each="file : ${submission.files}">
          <div class="submission__bar-download-icn"><img src="/img/svg/attach_black.svg" alt=""></div>
          <div class="submission__bar-download-main">
            <div class="submission__bar-download-name" th:text="${file.name}"></div>
          </div>
        </a>
        <h2 class="submission__bar-title">Statistics</h2>
        <p class="submission__bar-txt">Follow the link below to see statistical information about this submission.</p>
        <p class="submission__bar-txt"><a th:href="${submission.statisticsLink}" th:text="${submission.statisticsShortLink}"></a></p>
      </section>
    </div>
  </div>
</div>
      </main><footer class="footer">
  <div class="container">
    <div class="row-wrap footer__wrap">
      <div class="row-left footer__left">
        <a href="/" class="logo footer-logo">
          <img src="/img/svg/toncatalog.club.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right footer__right">
        <div class="donate"><span>Donate:</span> 0:1c8876f793bb43993f93f7db4dfe07d8777aaec0456c4edcbe8a6f007c7e7955</div>
      </div>
    </div>
  </div>
</footer>

    </div>
    <script src="/js/vendors.min.js"></script>
    <script src="/js/scripts.min.js"></script>
  </body>
</html>