<!DOCTYPE html>
<html lang="Ru-ru">
  <head>
    <meta charset="UTF-8"/>
    <title>TONcatalog</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div class="wrapper"><header class="header">
  <div class="container">
    <div class="row-wrap header__wrap">
      <div class="row-left header__left">
        <a href="/" class="logo header-logo">
          <img src="/img/svg/toncatalog.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right header__right">
        <form action="#" method="get" class="search js-search">
          <input type="search" name="search" class="input search__input js-search-input" placeholder="Search by contest name..." autocomplete="off">
          <ul class="search__list js-search-list">
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
            <li class="search__item"><mark>Lorem ips</mark>um dolor samet</li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</header>
      <main class="main"><div class="page">
  <div class="container">
    <div class="submission">
      <div class="submission__main">
        <nav class="breadcrumbs">  
          <a href="#">All contests</a><img src="/img/svg/chevrone-right_grey.svg" alt=""><a href="#">Main Governance</a><img src="img/svg/chevrone-right_grey.svg" alt=""><span>#169 Contest: Dune->FreeTON Swap Implementation Sta...</span>
        </nav>
        <article class="article">
          <h1>Submission #888</h1>
          <div class="inforow article__inforow">
            <div class="infoitem">
              <img src="/img/svg/cup_blue.svg" alt="">
              1 place
            </div>
            <div class="infoitem">
              <img src="/img/svg/star_blue.svg" alt="">
              9.67
            </div>
            <div class="infoitem">
              <img src="/img/svg/coin_blue.svg" alt="">
              15,000 TONs
            </div>
          </div>
          <img class="article__img" src="https://img2.goodfon.ru/original/1920x1200/c/1e/kanada-alberta-gory-ozero-5808.jpg" alt="">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>          
          <div class="js-hided-part hided-part">
            <h3>Header</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h3>Header</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <button class="btn show-more js-show-mor">
            <span>Show more</span>
            <img src="/img/svg/chevrone-down_blue.svg" alt="">
          </button>
        </article>
        <section class="usernickname">
          <h2 class="usernickname__title">usernickname</h2>
          <p class="usernickname__name">0:1b32575dacfdc91ae7c8115d30e3686d4b9507a41abdd9152e860c4acc898e5c</p>
        </section>
      </div>
      <section class="submission__bar">
        <h2 class="submission__bar-title">Links and attachments</h2>
        <div class="submission__bar-link">
          <div class="submission__bar-link-name">Link name 1</div>
          <a href="#">https://link.com/aufef2384bfei</a>
        </div>
        <div class="submission__bar-link">
          <div class="submission__bar-link-name">Link name 2</div>
          <a href="#">https://link.com/aufef2384bfei</a>
        </div>
        <a href="#" class="submission__bar-download" download target="_blank">
          <div class="submission__bar-download-icn"><img src="/img/svg/attach_black.svg" alt=""></div>
          <div class="submission__bar-download-main">
            <div class="submission__bar-download-name">filename1.pdf</div>
            <div class="submission__bar-download-size">1.2 mb</div>
          </div>
        </a>
        <a href="#" class="submission__bar-download" download target="_blank">
          <div class="submission__bar-download-icn"><img src="/img/svg/attach_black.svg" alt=""></div>
          <div class="submission__bar-download-main">
            <div class="submission__bar-download-name">filename1.pdf</div>
            <div class="submission__bar-download-size">1.2 mb</div>
          </div>
        </a>
        <h2 class="submission__bar-title">Statistics</h2>
        <p class="submission__bar-txt">Follow the link below to see statistical information about this submission.</p>
        <p class="submission__bar-txt"><a href="#">https://link.com/aufef2384bfei</a></p>
      </section>
    </div>
  </div>
</div>
      </main><footer class="footer">
  <div class="container">
    <div class="row-wrap footer__wrap">
      <div class="row-left footer__left">
        <a href="/" class="logo footer-logo">
          <img src="/img/svg/toncatalog.svg" alt="TONcatalog">
        </a>
      </div>
      <div class="row-right footer__right">
        <div class="donate"><span>Donate:</span> 0:1c8876f793bb43993f93f7db4dfe07d8777aaec0456c4edcbe8a6f007c7e7955</div>
      </div>
    </div>
  </div>
</footer>

    </div>
    <script src="/js/vendors.min.js"></script>
    <script src="/js/scripts.min.js"></script>
  </body>
</html>