<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />


    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" />
    <link rel="stylesheet"
          href="/bootstrap-table/dist/bootstrap-table.min.css" />

    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<div th:fragment="header">
    <section id="navbar">
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand">Catalog Admin</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/admin/managers/list">Managers</a></li>
                        <li><a href="/admin/subGovernances/list">Sub Governances</a></li>
                        <li><a href="/admin/contests/list">Contests</a></li>
                        <li><a href="/admin/submissions/list">Submissions</a></li>
                        <li><a href="/admin/authors/list">Authors</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#" id="currentUser" class="glyphicon glyphicon-user"></a></li>
                        <li><a href="/logout" class="glyphicon">Logout</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
</div>
</body>